<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/blog/bootstrap/css/bootstrap.css">
</head>
<body>
<div class="container" style="margin-top: 100px">
    <div class="text-center">
        <a href="https://www.cnblogs.com"><img src="/static/blog/pic/cnblogs-small.jpg" alt=""></a>
        <p><b>404 </b><span>抱歉！您访问的资源不存在！</span></p>
        <p><span>请确认您输入的网址是否正确，如果问题持续存在，请发送邮件至 404042726@qq.com与老村长练习</span></p>
        <a href="/">返回网站首页</a>
    </div>
</div>
</body>
</html>